[submodule "submodules/OpenBeam_Kossel_Reprap"]
	path = submodules/OpenBeam_Kossel_Reprap
	url = https://github.com/eddieparker/OpenBeam_Kossel_Reprap.git
[submodule "submodules/Marlin"]
	path = submodules/Marlin
	url = https://github.com/eddieparker/Marlin.git
[submodule "submodules/OpenSCADModules"]
	path = submodules/OpenSCADModules
	url = https://github.com/eddieparker/OpenSCADModules.git
